<div class="ui attached table segment commit-table">
	<ul class="github-theme-templates-commits-list">
		{{$commitRepoLink := $.RepoLink}}{{if $.CommitRepoLink}}{{$commitRepoLink = $.CommitRepoLink}}{{end}}
		{{range.Commits}}
			<li class="github-theme-commit">
				{{/* 提交信息 */}}
				<div class="message">
					{{if $.PageIsWiki}}
						<span class="commit-summary" title="{{.Summary}}">{{.Summary | ctx.RenderUtils.RenderEmoji}}</span>
					{{else}}
						{{$commitLink:= printf "%s/commit/%s" $commitRepoLink (PathEscape .ID.String)}}
						<span class="commit-summary" title="{{.Summary}}">{{ctx.RenderUtils.RenderCommitMessageLinkSubject .Message $commitLink $.Repository}}</span>
					{{end}}
					{{if IsMultilineCommitMessage .Message}}
					<button class="ui button ellipsis-button" aria-expanded="false" data-global-click="onRepoEllipsisButtonClick">{{svg "octicon-ellipsis" 16}}</button>
					{{end}}
					{{if IsMultilineCommitMessage .Message}}
					<pre class="commit-body tw-hidden">{{ctx.RenderUtils.RenderCommitBody .Message $.Repository}}</pre>
					{{end}}
				</div>
				{{/* 提交者信息 */}}
				<div class="metadata">
					{{/* 头像 */}}
					{{$userName := .Author.Name}}
					{{if .User}}
						{{if and .User.FullName DefaultShowFullName}}
							{{$userName = .User.FullName}}
						{{end}}
						{{ctx.AvatarUtils.Avatar .User 16}}<a class="muted author-wrapper" href="{{.User.HomeLink}}">{{$userName}}</a>
					{{else}}
						{{ctx.AvatarUtils.AvatarByEmail .Author.Email .Author.Name 16}}
						<span class="author-wrapper">{{$userName}}</span>
					{{end}}
					{{/* 时间 */}}
					·
					{{if .Committer}}
						{{DateUtils.TimeSince .Committer.When}}
					{{else}}
						{{DateUtils.TimeSince .Author.When}}
					{{end}}
					{{/* 状态 */}}
					{{template "repo/commit_statuses" dict "Status" .Status "Statuses" .Statuses}}
				</div>
				{{/* 提交哈希 */}}
				<div class="extra">
					{{/* 标签 */}}
					{{if $.CommitsTagsMap}}
						{{range (index $.CommitsTagsMap .ID.String)}}
							{{- template "repo/tag/name" dict "AdditionalClasses" "github-theme-tag" "RepoLink" $.Repository.Link "TagName" .TagName "IsRelease" (not .IsTag) -}}
						{{end}}
					{{end}}
					{{$commitBaseLink := ""}}
					{{if $.PageIsWiki}}
						{{$commitBaseLink = printf "%s/wiki/commit" $commitRepoLink}}
					{{else if $.PageIsPullCommits}}
						{{$commitBaseLink = printf "%s/pulls/%d/commits" $commitRepoLink $.Issue.Index}}
					{{else if $.Reponame}}
						{{$commitBaseLink = printf "%s/commit" $commitRepoLink}}
					{{end}}
					{{template "repo/commit_sign_badge" dict "Commit" . "CommitBaseLink" $commitBaseLink "CommitSignVerification" .Verification}}
				</div>
				{{/* 操作 */}}
				<div class="actions">
					<button class="btn interact-bg copy-commit-id github-theme-action" data-tooltip-content="{{ctx.Locale.Tr "copy_hash"}}" data-clipboard-text="{{.ID}}">{{svg "octicon-copy"}}</button>
					{{/* at the moment, wiki doesn't support these "view" links like "view at history point" */}}
					{{if not $.PageIsWiki}}
						{{/* view single file diff */}}
						{{if $.FileTreePath}}
						<a class="btn interact-bg view-single-diff github-theme-action" data-tooltip-content="{{ctx.Locale.Tr "repo.commits.view_file_diff"}}"
							href="{{$commitRepoLink}}/commit/{{.ID.String}}?files={{$.FileTreePath}}"
						>{{svg "octicon-file-diff"}}</a>
						{{end}}
						{{/* view at history point */}}
						{{$viewCommitLink := printf "%s/src/commit/%s" $commitRepoLink (PathEscape .ID.String)}}
						{{if $.FileTreePath}}{{$viewCommitLink = printf "%s/%s" $viewCommitLink (PathEscapeSegments $.FileTreePath)}}{{end}}
						<a class="btn interact-bg view-commit-path github-theme-action" data-tooltip-content="{{ctx.Locale.Tr "repo.commits.view_path"}}" href="{{$viewCommitLink}}">{{svg "octicon-code"}}</a>
					{{end}}
				</div>
			</li>
		{{end}}
	</ul>
</div>
